<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h2>Ionic Firebase Verify Email</h2>
    <p>Please check your email and click on the link to verify your email address.</p>
    <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">Resend Verification Email</ion-button>
  </ion-grid>
</ion-content>
