<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          (click)="authService.PasswordRecover(email.value)"
          expand="block"
          >Send</ion-button
        >
      </ion-col>
    </ion-row>
    <small>
      Please provide the Email address to get the Reset Password link
    </small>
  </form>
</ion-content>
